* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f0a3a3;
}

h1 {
  background-color: #0b2b40;
  color: aliceblue;
  font-size: 2rem;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
p {
  font-size: 50px;
}
.winner {
  height: 700px;
  background-color: #0b2b40;
  padding: 5px;
  text-align: center;
}
.hide {
  display: none;
}

#winner-msg {
  display: block;
  height: 40px;
  font-size: 30px;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  line-height: 40px;
  color: #f0a3a3;
}

button {
  background-color: #f0a3a3;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: rgb(3, 11, 38);
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.scores {
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
}
.score {
  height: 200px;
  width: 200px;
  font-size: 20px;
  color: rgb(3, 5, 16);
}
#user {
  text-align: start;
  font-size: 30px;
  padding-top: 50px;
}
#comp {
  text-align: end;
  font-size: 30px;
  padding-top: 50px;
}
#comp-total-score,#user-total-score {
  font-size: 30px;
  color: #313E50;
}
#user-enter-score,#comp-enter-score {
  font-size: 70px;
  color: #313E50;
}
#user-enter-score {
  padding-left: 25px;
}
#comp-enter-score {
  padding-right: 30px;
}

.vs {
  margin-top: 75px;
}

.msg-container {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  gap: 8px;
}



.choices {
  height: 300px;
  width: 1000px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 300px;

}
.choice {
  height: 120px;
  width:120px;
  background-color: #313E50;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 30px;
}
.choice:hover {
  cursor: pointer;
  border: 3px solid #0b2b40;
}
