* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0a3a3;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  background-color: #0b2b40;
  color: aliceblue;
  font-size: 2rem;
  height: 60px;
  line-height: 60px;
}

.winner {
  min-height: 100vh;
  background-color: #0b2b40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#winner-msg {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f0a3a3;
}

button {
  background-color: #f0a3a3;
  height: 45px;
  width: 120px;
  border-radius: 8px;
  border: none;
  color: rgb(3, 11, 38);
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.score {
  text-align: center;
}

#user-total-score,
#comp-total-score {
  font-size: 28px;
  color: #313e50;
}

#user-enter-score,
#comp-enter-score {
  font-size: 60px;
  color: #313e50;
}

.msg-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
}

.choices {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
}

.choice {
  height: 100px;
  width: 100px;
  background-color: #313e50;
  border-radius: 50%;
  color: white;
  line-height: 100px;
  font-size: 28px;
  transition: 0.3s;
}

.choice:hover {
  cursor: pointer;
  border: 3px solid #0b2b40;
}


@media (max-width: 600px) {

  h1 {
    font-size: 1.5rem;
  }

  #user-enter-score,
  #comp-enter-score {
    font-size: 40px;
  }

  .choice {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 20px;
  }

  .scores {
    gap: 40px;
  }

}
